<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Hello, Vue!</title>
      <script src="vue.js" defer></script>
      <script src="app.js" defer></script>
    </head>
    <body>
      <div id="app">
        <h1>Hello Example</h1>
        <p>Hello, {{ myName }}</p>
        <!-- Only expressions can be placed with the double curly brackets -->

        <h1>Simple Math Example</h1>
        <p>x + y = ?</p>
        <p>x = {{ x }};  y = {{ y }}</p>
        <p>{{ x }} + {{ y }} = {{ x + y }}</p>
        <!-- This is known as declarative programming in HTML -->

        <h1>List from Array Example</h1>
        <button v-on:click="addName(newName)">Add name</button>
        <input type="text" v-model="newName" />
        <ul>
          <li v-for="name in names">
            {{ name }}
          </li>
        </ul>

        <h1>Friends List Example</h1>
        <ul>
          <li v-for="person, index in people">
            <label v-bind:for="index">{{ person }}</label>
            <input type="checkbox" v-bind:id="index" v-model="friends" v-bind:value="person">
          </li>
          <p>My favorite people are: {{ friends.join(", ") }}</p>
        </ul>
      </div>
    </body>
  </html>